<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>LambdaVPS</h2>
                <p>Low-price VPS hosting</p>
                <ul class="actions">
                    <li><a href="{{ site.control-panel }}" class="button big special">Control Panel</a></li>
                    <li><a href="#plans" class="button big alt">Plans</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
